
*{
    
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #76b852;
}

form
 {
     background-color: white;
     width: 270px;
     padding: 45px;
     box-shadow: 2px 2px 5px grey;
     margin: 200px 0px 0px 450px;
 } 

 input {
    height: 46px;
    background-color: #f2f2f2;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
  }

  button
  {
    height: 46px;
    display: block;
    background-color: #4cAF50;
    color: white;
    width: 100%;
    box-sizing: border-box; 
  }